@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
h1 {
    font-size: 3.4rem;
}
h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1px;
}
p {
    line-height: 36px;
    margin: 25px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.8rem;
}
a:visited {
    color: none;
}
.button {
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
}
.button:hover {
    background: skyblue;
    transform: scale(1);
    color: black;
    transition: 0.4s ease-in-out;
}
input[type="submit"] {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 0.8rem;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
  }
header {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid rgba(0, 0, 0, 0.089);
}
.img-banner {
    background: url(./img/banner.jpg) right/cover;
}
/* ************** SECTION 1 *********************** */
.section-1 {
    display: grid;
    grid-template-columns: 37% 63%;
    border: 1px solid rgba(0, 0, 0, 0.089);
    min-height: 400px;
}
.img-left {
    background: url(./img/img-left.jpg) center/cover;
}
/* *************** SECTION 2 ************************/
.section-2 {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid rgba(0, 0, 0, 0.089);
    min-height: 400px;
}
.img-right {
    background: url(./img/img-right.jpg) center/cover;
}
/* **************** CONTACT ***************** */
.contact {
    text-align: center;
    padding: 60px 0;
}
.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 224px;
    grid-template-areas: 
    "input1 input2"
    "textarea textarea";
    gap: 10px;
    width: 85%;
    margin: 30px auto;
    max-width: 600px;
}
.textarea {
    grid-area: textarea;
}
label {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
input[type="text"],textarea {
    width: 100%;
    margin: 20px 0 40px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.203);
    padding: 10px;
    transition: 0.2s;
}
input[type="text"]:focus,textarea:focus {
    border: 1px solid rgba(135, 207, 235, 0.482);
}
textarea {
    resize: none;
    height: 180px;
}
.contact:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.203);
    transform: translateX(-50%);
    margin-top: 50px;
  }

/* *************réseau social****************** */
footer ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
    min-width: 300px;
    margin: 40px auto;
}
footer a {
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-decoration: black;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
footer i:hover {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 551px) {
    header {
        display: block;
    }
    .img-banner {
        height: 400px;
    }
    .section-1 {
        display: block;
    }
    .img-left {
        display: none;
    }
    .section-2 {
        display: block;
    }
    .img-right {
        display: none;
    }
    footer a {
        width: 30px;
        height: 30px;
    }
}