@font-face {
    font-family: "font-1";
    src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(../fonts/Merriweather-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}