@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
}
p {
  font-size: 1rem;
  font-weight: bold;
}
body {
  background: rgb(47, 47, 47);
  color: white;
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-weight: bold;
}
.header {
  display: flex;
  margin: 30px auto;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header-left-container h1 {
  font-size: 5rem;
  font-family: 'Inter' , sans serif;
}
.header-left-container h3 {
  font-size: 1.8rem;
  color: blue;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}
.infos {
  display: flex;
  background: rgba(20, 20, 20, 0.676);
  border-radius: 10px;
}
.infos-left {
  display: flex;
  width: 33%;
  flex-direction: column;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  background: blue;
  border-radius: 10px;
  border: none;
  width: 150px;
  color: white;
  padding: 10px 0;
  margin: 5px;
}
.infos-right {
  display: flex;
  width: 67%;
}
.investors {
  display: flex;
  width: 67%;
  align-items: center;
  justify-content: space-between;
}
.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.img-container img {
  height: 50px;
}
